*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    background-color: #dfdbf0;
    min-height: 100vh;
    border: 10px solid black;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section h1{
    font-size: 35px;
    font-weight: normal;
    color: black;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.about_section{
    margin-top: 50px;
}
.about_section h2{
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.image_container{
    border-radius: 38%;
    overflow: hidden;
}
.biography_section b{
    margin-top: 11px;
    margin-bottom: 11px;
    font-size: 22px;
}
.biography_section{
    margin-top: 30px;
    line-height: 30px;
    word-spacing: 2px;
}
.biography_section ul{
    margin-left: 50px;
}
.biography_section li{
    margin-bottom: 10px;;
}

footer{
    margin : 50px 0;
}

footer p{
    text-align: end;
}